body {
  background-image: url(../imgs/IMG_8487.JPG);
  background-color: rgb(7, 3, 3);
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  background-clip: content-box;
  letter-spacing: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  text-align: center;
  font-size: 20px;
}
nav a {
  color: rgb(186, 191, 196);
  margin: auto;
}
nav {
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  justify-content: space-around;
  height: 80px;
  background-color: #200515;
  color: rgb(54, 58, 61);
  z-index: 1;
}

header {
  background-repeat: no-repeat;
  background-position: 7%;
  margin-top: 60px;
  padding: 70px;
}

header .container div {
  align-items: center;
}

header ul.header-menu {
  display: flex;
  list-style: none;
  margin-left: 16%;
  text-align: justify;
}

header ul.header-menu li {
  padding: 0 35px 0 10px;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 100px;
  color: rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-style: oblique;
}

.container {
  color: antiquewhite;
}
.about {
  font-size: 20px;
  text-align: center;
  display: block;
  justify-content: space-around;
  background-color: rgb(39, 5, 22);
  color: rgb(184, 179, 171);
  padding: 40px;
  border-radius: 60px;
}

h2 {
  text-align: center;
  color: rgb(216, 197, 202);
  font-style: oblique;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.education {
  text-align: center;
  padding: 700x;
  border: 6px dashed #1e0212;
  text-align: center;
  margin: 28px 0px;
  color: rgb(184, 179, 171);
}

h3 {
  color: rgb(226, 210, 215);
  font-style: oblique;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hobby {
  display: grid;
  justify-content: first baseline;
  margin: 30px px;
  background-color: rgb(39, 5, 22);
  color: rgb(184, 179, 171);
  padding: 30px;
}

.contacts {
  display: grid;
  justify-content: center;
  margin: px px;
  background-color: rgb(22, 1, 1);
  color: rgb(184, 179, 171);
  padding: px;
  border-radius: 60px;
}
